.category-item {
  border: none !important;
}
.category-item .card-body {
  width: 190px;
  height: 150px;
}
.category-item .card-footer {
  border: none !important;
  background: transparent !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
