.search{
  font-family: 'Raleway', sans-serif;
}
.btn {
  outline: none !important;
  border: none !important;
}
.dropdown-toggle::after {
  background: url("data:image/svg+xml,%3Csvg width='15' height='9' viewBox='0 0 15 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0408 1L7.23689 8.52066L1 1' stroke='%23343434' stroke-width='0.5'/%3E%3C/svg%3E%0A") !important;
}
.dropdown-menu {
  border-radius: 0px !important;
  border: none !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.dropdown-menu a:hover {
  color: #ff9619;
  text-decoration: underline;
}
.responsive-filterable {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1px 5px;
  padding: 10px;
  align-items: center;
  justify-content: end;
}

.responsive-filterable .rectangle {
  width: 11px;
  height: 11px;
}
.responsive-filterable-2x2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1px 5px;
  padding: 10px;
  align-items: center;
  justify-content: end;
}
.responsive-filterable-2x2 .rectangle {
  width: 32px;
  height: 11px;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none !important;
}
.input-group {
  width: 270px !important;
  height: 36px !important;
}
.form-control {
  border-radius: 0px !important;
  border-right: none !important;
  outline: none !important;
}
.input-group-text {
  border-left: none !important;
  border-radius: 0px !important;
  cursor: pointer;
  outline: none !important;
}
