@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
.activeFilter {
  color: #ff9619;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.carouselFirstPage .slick-dots li.slick-active button:before,
.infodetail-carousel .slick-dots li.slick-active button:before {
  color: #ff9619 !important;
  opacity: 1 !important;
  font-size: 12px;
}

.carouselFirstPage .slick-dots li button:before,
.infodetail-carousel .slick-dots li button:before {
  color: #f2f3f5 !important;
  opacity: 1 !important;
  font-size: 12px;
}
.carouselFirstPage .slick-prev:before,
.carouselFirstPage .slick-next:before,
.infodetail-carousel .slick-prev:before,
.infodetail-carousel .slick-next:before {
  display: none !important;
}
.news-carousel .slick-prev:before,
.news-carousel .slick-next:before,
.modal-slayder .slick-prev:before,
.modal-slayder .slick-next:before,
.latest-public .slick-prev:before,
.latest-public .slick-next:before,
.catalog-menu .slick-next:before,
.catalog-menu .slick-prev:before {
  display: block !important;
  color: #343434;
  font-size: 32px;
  opacity: 0.5;
  z-index: 999999;
}
.pager-item .slick-prev:before,
.pager-item .slick-next:before {
  font-size: 22px;
  color: #34343480;
}
.latest-public .slick-prev:before,
.pager-item .slick-prev:before,
.news-carousel .slick-prev:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  margin-right: 20px;
}

.modal-slayder .slick-next:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  color: white;
  font-size: 40px;
  padding: 10px 20px;
  margin-right: -40px;
  background: rgba(0, 0, 0, 0.33);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.modal-slayder .slick-prev:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  color: white;
  font-size: 40px;
  padding: 10px 20px;
  margin-left: -40px;
  background: rgba(0, 0, 0, 0.33);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.news-carousel .slick-next:before,
.pager-item .slick-next:before,
.latest-public .slick-next:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 20px;
  content: "\f105";
}
.slick-next {
  right: -32px;
}
.slick-prev {
  left: -32px;
}
.sponsor-carousel .slick-next:before,
.sponsor-carousel .slick-prev:before {
  display: none;
}
.sponsor-carousel .slick-dots li.slick-active button:before {
  color: #ff9619 !important;
  opacity: 1 !important;
  font-size: 12px;
}

.sponsor-carousel .slick-dots li button:before {
  color: #f2f3f5 !important;
  opacity: 1 !important;
  font-size: 12px;
}
